.addNewAddress {

    width: 30%;
}

input {

    margin: 10px;
}

.addNewAddressInputBox {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

.pincode {

    width: 100% !important;
}

#addNewAddress {

    display: flex;
    justify-content: space-between;
    margin-left: 30px;
}