.Cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.Cart-title {
  font-size: 24px;
  font-weight: bold;
}

.Cart-total {
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px;
}

.CartItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid #ccc;
  padding: 10px;
}

.CartItem-name {
  font-size: 18px;
  font-weight: bold;
}

.CartItem-price {
  font-size: 18px;
}

.CartItem-delete {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 5px 10px;
  font-size: 16px;
  cursor: pointer;
}
.Cart-wrapper {
  border: 1px solid #ccc;
  padding: 10px;
}
.CartItem-add {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 5px 10px;
  font-size: 16px;
  cursor: pointer;
  margin-left: 10px;
}
