.dropdown {
  position: relative;
  display: flex;
  justify-content: center;
}

.dropdown button {

  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: white;
  font-size: 16px;
}

.dropdown-menu {
  /* position: relative;
  top: 100%; */
  /* left: 0; */
  /* z-index: 1; */
  /* display: none; */
  justify-content: center;
  width: 100%;
  padding: 0 0;
  margin: 0;
  list-style: none;
  background-color: white;
  border: 1px solid #ccc;
  border: none;
  height: 30vh;
  overflow-y: scroll;
  

}

.dropdown-menu li {
  padding: 12px;
  cursor: pointer;
}

.dropdown-menu li:hover {
  background-color: #f2f2f2;
}

.selected {
  background-color: #b6ee94d2;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.btn-closeDrp{
  width: 50%;
}
