.search-container1 {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}
/* body {
  background-color: #e5f2e5;
} */

input[type="text"] {
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 12px;
  border: 1px solid lightgray;
  width: 35%;
  height: 35px;
  margin-right: 1rem;
}

.btn {
  padding: 0.5rem 1rem;
  background-color: rgb(95, 201, 236);
  border-radius: 5px;
  border: none;
  color: white;
  font-size: 1rem;
  cursor: pointer;
}

.li1 {
  list-style-type: none;
  padding: 1rem;
  border: 1px solid lightgray;
  width: 35%;
  border-radius: 12px;
  margin-bottom: 1rem;
 margin-left: 550px; 
 background-color:rgb(240, 214, 192);
 
}
