.search-container1 {
  /* display: flex; */
  justify-content: center;
  text-align: center;
}

.clinicSearchBox {
  padding: 1.5rem;
  font-size: 1rem;
  border-radius: 12px;
  border: 1px solid lightgray;
  width: 35%;
  height: 35px;
  margin-right: 1rem;
  text-decoration: none;
}

.lab-rating {
  border: black solid 1px;
  width: 35%;
  height: 500px;
}

.flex {
  display: flex;

}

.certificates {
  border: black solid 1px;
  width: 35%;
  height: 500px;
  margin: 10px;
}

.li1 {
  list-style-type: none;
  padding: 1rem;
  border: 1px solid lightgray;
  /* width: 50%; */
  border-radius: 12px;
  margin-bottom: 1rem;
  margin-left: auto;
  background-color: rgb(240, 214, 192);
}

.filter-btn:hover {
  background-color: #3e8e41;
}

.filter-container {
  text-align: right;
  margin-right: 20px;
}