.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: rgb(178, 232, 113) !important;
  border-radius: 7px;
}

.navbar-brand {
  font-weight: bold;
}

.navbar-item {
  margin-left: 1rem;
  text-decoration: none;
  color: black;
}